body {
    color: #fff;
	text-align:center;
	padding:0;
	margin:0;
	font-size: 1em;
}
a{
	color:#ccf;
	text-decoration:none;
}
a:hover {
	color:white;
}
.gray {
	background-color:rgba(0,0,0,0.9);
	position:absolute;
}