.topbg {
    z-index: -99999;
    position:absolute;
    top:0;
    width:100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1920px;
}
.topbg img {
    visibility: hidden;
    top:0;
    width:1920px;

}
.topbg .gradient {
    position: absolute;
    top:0; left:0;
    width:100%;
    height:100%;
}
body > div.container {
    position:relative;
    top:10vh;
    padding-bottom:10vh;
}
body > div.container > .row {
    background-color: rgba(255,255,255,0.9);
    padding-top:30px;
    padding-bottom:30px;
    border:1px solid black;
}
body > div.container > h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 50px;
    color: white;
    text-shadow:
            0 0 5px #000,
            0 0 5px #000,
            0 0 5px #000,
            0 0 5px #000,
            0 0 5px #000,
            0 0 5px #000,
            0 0 5px #000,
            1px 1px 0 #000,
            -1px 1px 0 #000,
            1px -1px 0 #000,
            -1px -1px 0 #000,
            0px 1px 0 #000,
            0px -1px 0 #000,
            -1px 0px 0 #000,
            1px 0px 0 #000,
            2px 2px 0 #000,
            -2px 2px 0 #000,
            2px -2px 0 #000,
            -2px -2px 0 #000,
            0px 2px 0 #000,
            0px -2px 0 #000,
            -2px 0px 0 #000,
            2px 0px 0 #000,
            1px 2px 0 #000,
            -1px 2px 0 #000,
            1px -2px 0 #000,
            -1px -2px 0 #000,
            2px 1px 0 #000,
            -2px 1px 0 #000,
            2px -1px 0 #000,
            -2px -1px 0 #000;
}
body > div.container > h1 > a {
    color:white;
}
body > div.container > h1 > a:hover {
    text-decoration: none;
}

.note .tags {
    color:gray;
}
.top_links {
    text-align: center;
    background-color:white;
}
.top_links a {
    color:black;

}
